{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<div>
    <h1 style="text-align: center"> {% if device.hostname %}{{ device.hostname }}{% else %}{{ device.mac }}{% endif %}</h1>
    <h3> History:</h3>
</div>
<div id="container" style="height: 500px; min-width: 310px"></div>

<script>
    $.getJSON('{% url 'api_device_id' device.id %}', function (_DATA) {
        new Morris.Line(
            {
                element: 'container',
                data: _DATA,
                xkey: 'y',
                ykeys: ['a'],
                smooth:false,



            }
        );
    }
    );

</script>
{% endblock content %}
